---
http_interactions:
- request:
    method: post
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:35357/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin@internal","password":"pass123"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"expires": "2019-12-08T13:09:02Z", "id": "00000000000000000000000000000001"},
        "serviceCatalog": [{"endpoints_links": [], "endpoints": [{"adminURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/",
        "region": "RegionOne", "id": "00000000000000000000000000000001", "internalURL":
        "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/", "publicURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/"}],
        "type": "network", "name": "neutron"}, {"endpoints_links": [], "endpoints":
        [{"adminURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:35357/", "region":
        "RegionOne", "publicURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:35357/",
        "internalURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:35357/", "id": "00000000000000000000000000000002"}],
        "type": "identity", "name": "keystone"}, {"endpoints_links": [], "endpoints":
        [{"adminURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.1/", "region":
        "RegionOne", "publicURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.1/",
        "internalURL": "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.1/", "id":
        "00000000000000000000000000000002"}], "type": "compute", "name": "nova"}],
        "user": {"username": "admin", "roles_links": [], "id": "", "roles": [{"name":
        "admin"}], "name": "admin"}}}'
  recorded_at: Wed, 04 Dec 2019 09:09:02 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/", "rel": "self"}]}]}'
  recorded_at: Wed, 04 Dec 2019 09:09:02 GMT
[...]
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"networks": [{"status": "ACTIVE", "name": "extnetwork", "tenant_id":
        "00000000000000000000000000000001", "mtu": 1442, "port_security_enabled":
        true, "id": "f748854b-214f-42e4-bb83-0227ee5dfea8"}]}'
  recorded_at: Wed, 04 Dec 2019 09:09:03 GMT
[...]
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:35357/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants": [{"id": "00000000000000000000000000000001", "enabled":
        true, "description": "tenant", "name": "tenant"}]}'
  recorded_at: Wed, 04 Dec 2019 09:09:03 GMT
[...]
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/subnets?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"subnets": []}'
  recorded_at: Wed, 04 Dec 2019 09:09:03 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/floatingips?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"floatingips": []}'
  recorded_at: Wed, 04 Dec 2019 09:09:04 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/ports?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ports": []}'
  recorded_at: Wed, 04 Dec 2019 09:09:04 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/routers?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"routers": []}'
  recorded_at: Wed, 04 Dec 2019 09:09:04 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/security-groups?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"security_groups": []}'
  recorded_at: Wed, 04 Dec 2019 09:09:04 GMT
- request:
    method: get
    uri: https://pluto-vdsg.eng.lab.tlv.redhat.com:9696/v2.0/security-group-rules?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '00000000000000000000000000000001'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"security_group_rules": []}'
  recorded_at: Sun, 02 Feb 2020 09:15:59 GMT
recorded_with: VCR 5.0.0
